body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #1e1e1e;
    color: #00FFFF;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

hr {
    width: 80%;
    margin: 10px auto;
    border: 1px solid #00FFFF;
}

h1, h2 {
    color: #00FFFF;
}

#errors {
    color: coral;
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #1e1e1e;
    border: 2px solid #00FFFF;
    border-radius: 5px;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tile:hover {
    background-color: #383838;
}

.tile-start {
    background-color: whitesmoke;
    color: #00FFFF;
}

.tile-correct {
    background-color: lightgreen;
    color: #00FFFF;
}

.tile-incorrect {
    background-color: lightcoral;
    color: #00FFFF;
}

.horizontal-line {
    border-bottom: 1px solid lightgray;
}

.vertical-line {
    border-right: 1px solid lightgray;
}

#digits {
    width: 450px;
    height: 50px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.number:hover {
    background-color: #383838;
}

.number-selected {
    background-color: gray;
}

